<a href="https://colab.research.google.com/github/alexandraeremia06/Kaggle/blob/main/1_Load_save_every_format_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Load & save different formats

## CSV files

You are working as a Data Analyst at Greenweez and someone from the marketing team asks you to help open `gwz_orders_samples_other_format.csv` as they are having some issues.

Import [gwz_orders_samples_other_format.csv](https://drive.google.com/file/d/14XBnRoi_S4PYi0JHQJHoRciwhXJZJUjX/view?usp=sharing) in colab and load it in a dataframe `df_orders`.

In [11]:
# First, download the file from Google Drive using the provided link.
# This uses gdown, which is often pre-installed in Colab.
!gdown --id 14XBnRoi_S4PYi0JHQJHoRciwhXJZJUjX -O gwz_orders_samples_other_format.csv

/usr/local/lib/python3.12/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=14XBnRoi_S4PYi0JHQJHoRciwhXJZJUjX
To: /content/gwz_orders_samples_other_format.csv
100% 485k/485k [00:00<00:00, 86.9MB/s]

In [8]:
import pandas as pd

# Now, load the downloaded CSV file into a DataFrame named df_orders
df_orders = pd.read_csv('gwz_orders_samples_other_format.csv')

# Display the first 10 rows to confirm it's loaded correctly
display(df_orders.head())

  \tdate_date\torders_id\tcustomers_id\tcountry\tdepartment\ttotal_quantity\ttotal_turnover
0   0\t2019-01-01\t571\t560\tFRANCE\t77.0\t52\t92.71
1   1\t2019-01-01\t287\t282\tFRANCE\t17.0\t19\t97.94
2   2\t2019-01-01\t113\t113\tFRANCE\t50.0\t20\t94.15
3    3\t2019-01-01\t519\t510\tFRANCE\t22.0\t8\t73.78
4    4\t2019-01-01\t224\t222\tFRANCE\t13.0\t2\t27.99

Is there something wrong with this data ?
Display `df_orders` and have a look at the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) to see how to solve this issue.

3) Once you have managed to properly load the data, export it to a new `gwz_orders_samples_other_format_clean.csv` that the marketing team can use.

<details>
    <summary> Hint üîç </summary>
    The csv file doesn't need to include an index.  
    You should also make sure of the separator used!
    
</details>

In [10]:
# saving to csv file
df = pd.read_csv('gwz_orders_samples_other_format.csv', sep=';')
df.to_csv('gwz_orders_samples_other_format_clean.csv', index=False)

CSV files can be misleading at times, but these issues can be solved in Python!

## Dealing with json files

Execute the following cell to initialize a dictionary `d`

In [ ]:
d = {"firstname": "leonardo",
     "lastname": "dicaprio",
     "job": "actor"}

Create a file named `actors.json` from `d`. Have a look at the lecture if you are lost with the syntax.

In [13]:
d = {"firstname": "leonardo",
     "lastname": "dicaprio",
     "job": "actor"}
import json
with open('actors.json', 'w') as f:
        json.dump(d, f)

Open the new `actors.json` file and add a new key `nationality` (Leonardo Dicaprio is American). \
Save the result to the same file name. Check your file.

In [14]:
d = {"firstname": "leonardo",
     "lastname": "dicaprio",
     "job": "actor", "nationality": "American"}
import json
with open('actors.json', 'w') as f:
        json.dump(d, f)
# added the new info and updated it
#checked the json fil, opened it with pycharm, it has all the data

## Working with Excel files

For this part of the challenge, imagine you are owner of mutliple restaurants. You are currently doing your accounting on Excel.

Download the [Excel file](https://docs.google.com/spreadsheets/d/1BFFYMoV85sqMHxkl5DSk6dg21XmCLtlb/edit?usp=sharing&ouid=101172426362035713447&rtpof=true&sd=true) and explore it.

How many sheets are there?
What kind of data do you have?

> **Your Answer Here (Double click)**

Import the Excel file into your Google Colab environment.  
Load the data from the *first sheet* in a `df_sales_restaurant_1` DataFrame

In [17]:
# Download the Excel file from Google Drive using gdown
!gdown --id 1BFFYMoV85sqMHxkl5DSk6dg21XmCLtlb -O restaurants_accountability.xlsx
import pandas as pd
# load from eexcel file
df = pd.read_excel('restaurants_accountability.xlsx')

/usr/local/lib/python3.12/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1BFFYMoV85sqMHxkl5DSk6dg21XmCLtlb
To: /content/restaurants_accountability.xlsx
100% 6.46k/6.46k [00:00<00:00, 20.6MB/s]

In [21]:
# Download the Excel file from Google Drive using gdown
!gdown --id 1BFFYMoV85sqMHxkl5DSk6dg21XmCLtlb -O restaurants_accountability.xlsx

/usr/local/lib/python3.12/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1BFFYMoV85sqMHxkl5DSk6dg21XmCLtlb
To: /content/restaurants_accountability.xlsx
100% 6.46k/6.46k [00:00<00:00, 16.3MB/s]

How can you list all the sheets in an Excel file with Pandas ?  


<details>
    <summary> Hint üîç </summary>
    
`pd.ExcelFile()` [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.ExcelFile.html) can help ...
</details>

In [18]:
df = pd.ExcelFile('restaurants_accountability.xlsx')
df.sheet_names

['Restaurant1', 'Restaurant2']

Now, load the data from the *second sheet* in a dataframe called `df_sales_restaurant_2`.


<details>
    <summary> Hint üîç </summary>
    How can you choose the sheet you want to access ? Consult the documentation or StackOverflow if you're having doubts.
</details>

In [47]:
df = pd.ExcelFile('restaurants_accountability.xlsx')
df_sales_restaurant_2 = pd.read_excel(
    'restaurants_accountability.xlsx',
    sheet_name='Restaurant2',
    skiprows=2, # Skip the first two rows
    header=0 # Use the first non-skipped row as headers
)

# Display the first few rows and all columns to inspect the structure, without parsing dates yet
display(df_sales_restaurant_2.head())
print(df_sales_restaurant_2.columns)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,Date,Turnover,Cost,Margin
1,NaN,NaN,2021-12-01 00:00:00,700,600,100
2,NaN,NaN,2021-12-02 00:00:00,920,540,380
3,NaN,NaN,2021-12-03 00:00:00,810,600,210
4,NaN,NaN,2021-12-04 00:00:00,1000,300,700

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5'],
      dtype='object')

Do you notice anything unusual with this dataframe ? Inspect the sheet in the Excel file again, and try to understand the reason behind the weird format

The data is disorganized and the cell format was on automatic and not date.

Modify your previous line of code to load the data correctly. \
Have a look at the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html) if you're having doubts.

In [43]:
# Load the data from the first sheet ('Restaurant1') into df_sales_restaurant_1
df_sales_restaurant_1 = pd.read_excel('restaurants_accountability.xlsx', sheet_name='Restaurant1', header=0, parse_dates=['Date'])

# Display the first 5 rows and column names to verify
display(df_sales_restaurant_1.head())
print(df_sales_restaurant_1.columns)

        Date  Turnover  Cost  Margin
0 2021-12-01      1500  1200     300
1 2021-12-02      1200   900     300
2 2021-12-03      1900  1200     700
3 2021-12-04      2300  1500     800
4 2021-12-05      2100  1100    1000

Index(['Date', 'Turnover', 'Cost', 'Margin'], dtype='object')

Add in each dataframe a new `restaurant_id`column (id = 1 for restaurant_1 and id = 2 for restaurant_2) and concatenate the two dataframes into a single one named `df_sales`.  

Pay attention to the `axis`along which you will concatenate the two dataframes.

In [44]:
# Add a new column 'restaurant_id' with the value 1 to df_sales_restaurant_1
df_sales_restaurant_1['restaurant_id'] = 1

# Add a new column 'restaurant_id' with the value 2 to df_sales_restaurant_2
df_sales_restaurant_2['restaurant_id'] = 2

# Concatenate the two dataframes along the rows (axis=0) into df_sales
df_sales = pd.concat([df_sales_restaurant_1, df_sales_restaurant_2], ignore_index=True)

# Display the first few rows of the combined dataframe and check its info
display(df_sales.head())
display(df_sales.tail())
print(df_sales.info())

,Date,Turnover,Cost,Margin,restaurant_id,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,2021-12-01,1500.0,1200.0,300.0,1,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-12-02,1200.0,900.0,300.0,1,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-12-03,1900.0,1200.0,700.0,1,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-12-04,2300.0,1500.0,800.0,1,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-12-05,2100.0,1100.0,1000.0,1,NaN,NaN,NaN,NaN,NaN,NaN

,Date,Turnover,Cost,Margin,restaurant_id,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
6,NaT,NaN,NaN,NaN,2,NaN,NaN,2021-12-01 00:00:00,700,600,100
7,NaT,NaN,NaN,NaN,2,NaN,NaN,2021-12-02 00:00:00,920,540,380
8,NaT,NaN,NaN,NaN,2,NaN,NaN,2021-12-03 00:00:00,810,600,210
9,NaT,NaN,NaN,NaN,2,NaN,NaN,2021-12-04 00:00:00,1000,300,700
10,NaT,NaN,NaN,NaN,2,NaN,NaN,2021-12-05 00:00:00,300,200,100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           5 non-null      datetime64[ns]
 1   Turnover       5 non-null      float64
 2   Cost           5 non-null      float64
 3   Margin         5 non-null      float64
 4   restaurant_id  11 non-null     int64
 5   Unnamed: 0     0 non-null      float64
 6   Unnamed: 1     0 non-null      float64
 7   Unnamed: 2     6 non-null      object
 8   Unnamed: 3     6 non-null      object
 9   Unnamed: 4     6 non-null      object
 10  Unnamed: 5     6 non-null      object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 1.1+ KB
None

Export the concatenated dataframe to a new `restaurants_accountability_full.xlsx` file in a sheet called `All`

In [48]:
import pandas as pd

# the concatenated dataframe is named df_sales

# specify the path and filename
output_file = '/content/restaurants_accountability_full.xlsx'

# export to Excel with a sheet named "All"
df_sales.to_excel(output_file, sheet_name='All', index=False, engine='openpyxl')

print(f"DataFrame exported to {output_file}")

# optionally, if I want to download the file from Colab:
from google.colab import files
files.download(output_file)

# update and reorganize the xlsx file

DataFrame exported to /content/restaurants_accountability_full.xlsx