<a href="https://colab.research.google.com/github/alexandraeremia06/Kaggle/blob/main/1_Recall_DataFrame_Basics_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Recall DataFrame Basics

Execute the following cell

In [52]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3, 4, 5, 6],
                   "B": [7, 8, 9, 10, 11, 12],
                   "C": [13, 14, 15, 16, 17, 18],
                   "D": ["a", "a", "a", "b", "b", "b"],
                   "E": ["c", "d", "c", "d", "c", "d"]})

## DataFrame attributes

Display `df` columns and index names

In [53]:
df.loc[:,["A","B","C","D","E"]]

   A   B   C  D  E
0  1   7  13  a  c
1  2   8  14  a  d
2  3   9  15  a  c
3  4  10  16  b  d
4  5  11  17  b  c
5  6  12  18  b  d

In [54]:
df_B = df["B"]
print(type(df_B))

<class 'pandas.core.series.Series'>

In [55]:
import pandas as pd

df = pd.DataFrame({"A": [1, 2, 3, 4, 5, 6],
                   "B": [7, 8, 9, 10, 11, 12],
                   "C": [13, 14, 15, 16, 17, 18],
                   "D": ["a", "a", "a", "b", "b", "b"],
                   "E": ["c", "d", "c", "d", "c", "d"]})

In [56]:
print("Columns:", df.columns.tolist())
print("Index:", df.index.tolist())

Columns: ['A', 'B', 'C', 'D', 'E']
Index: [0, 1, 2, 3, 4, 5]

## Play with DataFrame columns

In [ ]:
import pandas as pd

Put column B in a variable `df_B`. What is the type of this variable?

In [57]:
Columns: ['A', 'B', 'C', 'D', 'E']
Index: [0, 1, 2, 3, 4, 5]
df_B = df["B"]
type(df_B)

pandas.core.series.Series

Does the following code change anything? Why?


`df_B = df[["B"]]`

In [46]:
df_B_double_brackets = df[["B"]]
print("Type of df_B_double_brackets:", type(df_B_double_brackets))
print("df_B_double_brackets:\n", df_B_double_brackets)

# The difference is that `df["B"]` returns a pandas series, which is a one-dimensional array-like object.
# Whereas `df[["B"]]` returns a pandas DataFrame, which is a two-dimensional table-like object, even if it only contains one column.
# So, while both contain the data from column 'B', their underlying data structures are different.

Type of df_B_double_brackets: <class 'pandas.core.frame.DataFrame'>
df_B_double_brackets:
     B
0   7
1   8
2   9
3  10
4  11
5  12

Create a column F filled with 12

In [45]:
df["F"] = 12
display(df)

   A   B   C  D  E   F
0  8   7  13  a  c  12
1  2   8  14  a  d  12
2  8   9  15  a  c  12
3  4  10  16  b  d  12
4  8  11  17  b  c  12
5  6  12  18  b  d  12

Create a DataFrame `df_E_B` containing columns B and E. We want column E to be **before** column B.

In [44]:
df_E_B = df[["E", "B"]]
display(df_E_B)

   E   B
0  c   7
1  d   8
2  c   9
3  d  10
4  c  11
5  d  12

## Filter a DataFrame

Display rows 1 to 3 and columns B, C, D from `df` DataFrame.

In [43]:
display(df.loc[1:3, ["B", "C", "D"]])

    B   C  D
1   8  14  a
2   9  15  a
3  10  16  b

Why does this line of code cause an error?

In [42]:
# df.iloc[1:3, ["B", "C", "D"]]

# display(df.iloc[1:4, [1, 2, 3]])

df.iloc[1:4, [1, 2, 3]]

    B   C  D
1   8  14  a
2   9  15  a
3  10  16  b

>The error happens because .iloc stands for integer-location based indexing. It means that when you use .iloc, you need to specify rows and columns using their numerical positions, not their labels or names.
Insted, it should be: display(df.iloc[1:4, [1, 2, 3]])   and not: df.iloc[1:3, ["B", "C", "D"]]

## Boolean Indexing

Select rows from `df` where the value in column B is greater than or equal to 8.

In [41]:
df.loc[df["B"] >= 8]

# display(df.loc[df["B"] >= 8])

   A   B   C  D  E   F
1  2   8  14  a  d  12
2  8   9  15  a  c  12
3  4  10  16  b  d  12
4  8  11  17  b  c  12
5  6  12  18  b  d  12

Select rows from df where the value in column B is greater than or equal to 8 and the value in column D is equal to "a".

In [40]:
display(df["B"]>=8, ["D"]=="a")

0    False
1     True
2     True
3     True
4     True
5     True
Name: B, dtype: bool

False

What does this line of code do?

In [39]:
df.loc[df["E"]=="c", "A"] = 8

# df["E"] == "c":
# this part evaluates a condition: for each row in the DataFrame df, it checks if the value in column E is equal to the string 'c'.
# it returns a boolean series (true or false values) where true indicates that the condition is met for that row, and false indicates it's not.
# df.loc[boolean_series, "A"]:
# the .loc accessor in pandas is used for label-based indexing. It takes two main arguments: the rows to select, and the columns to select.
# the boolean_series from the first step is used as the row selector. This means .loc will only consider the rows where df["E"] == "c" evaluated to be true.
# "A" is used as the column selector. This specifies that we are targeting the values in column A for the previously selected rows.
# = 8:
# this is the assignment operator. It takes all the cells identified by the previous two steps (i.e., in column A, but only for the rows where E was 'c') and assigns the integer value 8 to them.
# this line of code finds all rows where column E has the value 'c', and for those specific rows, it changes the value in their corresponding A column to 8.

## Operations on DataFrame columns

Calculate the average of columns A, B and F **by using the pd.DataFrame() [inbuilt function](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html).**

In [36]:
# print(df[["A", "B", "F"]].mean(axis=1))
# df[["A", "B", "F"]].mean()
df[["A", "B", "F"]].mean(1)

0     9.000000
1     7.333333
2     9.666667
3     8.666667
4    10.333333
5    10.000000
dtype: float64

What happens if we repeat the previous instruction but pass **axis=1** as parameter to `.mean()`function?

In [38]:
print(df[["A", "B", "F"]].mean(axis=1))

0     9.000000
1     7.333333
2     9.666667
3     8.666667
4    10.333333
5    10.000000
dtype: float64